body {
    background-image: url("/images/mountains.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Change the position to relative */
    z-index: 1; /* Add a higher z-index to ensure it appears above other elements */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    position: absolute;
    top: 12px;
    right: 100px;
}

.logo img {
    float: left;
}

ul li {
    font-family: 'Oxygen', sans-serif;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    color: #534741;
}

ul li:hover {
    color: white;
    border-radius: 10px;
    background: gray;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    margin-top: 50px;
    color: white;
    text-align: center;
}

p {
    margin-bottom: 20px;
    max-width: 600px;
}

* {
    transition: all 0.3s ease-in-out;
}

.footer {
    background-color: #333;
    padding: 20px;
    color: white;
    font-size: 14px;
    text-align: center; /* Align the elements to the center */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items vertically in the center */
    align-items: center; /* Align items horizontally in the center */
}

.footer .social a {
    color: white;
    margin-right: 10px;
}

.footer .social a:hover {
    color: #007bff;
}

.footer p {
    margin: 5px 0;
}

.footer .copyright {
    font-size: 12px;
    text-align: center; /* Align the text to the center */
    margin-top: auto; /* Pushes the content to the bottom */
}
