* {
    transition: all 0.3s ease-in-out;
}

.frontpagePicture img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.createProjectDiv {
    position: relative;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


body {
    background-image: url("/images/mountains.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 50px;
    margin-left: 510px;
    margin-bottom: 50px;
    font-size: 60px;
    font-family: 'Oxygen', sans-serif;
    font-weight: lighter;
}


.container {
    padding-top: 1%;
}

nav {
    float: right;
    padding: 2rem;
    padding-top: 2%;
}

.logo img {
    height: 100px;
    width: 100px;
    float: left;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

ul li {
    font-family: 'Oxygen', sans-serif;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    color: #534741;
}

ul li:hover {
    color: white;
    border-radius: 10px;
    background: gray;
}


@media screen and (max-width: 750px) {
    .logo{
        display: none;
    }

    ul li{
        display: none;
        padding: 5rem;
    }
}

.footer {
    padding: 10px 0;
    background-color: lightgray;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: dodgerblue;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 90%;
}

.footer .social a:hover {
    opacity: 120%;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;;
    text-decoration: none;
    opacity: 80%;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}


.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
}

.footer p {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    font-family: 'Oxygen', sans-serif;
    padding: 12px 16px;
    color: #534741;
    text-decoration: none;
    display: block;
    border: none;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

