body {
    background-image: url("/images/mountains.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 22px;
}

nav {
    position: absolute;
    top: 12px;
    right: 100px;
}

.logo img {
    float: left;
    width: 100%;
}

ul li {
    font-family: 'Oxygen', sans-serif;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    color: #534741;
}

ul li:hover {
    color: white;
    border-radius: 10px;
    background: gray;
}

img {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
button:hover {
    background-color: #0062cc;
}

* {
    transition: all 0.3s ease-in-out;
}

.slider-frame {
    overflow: hidden;
    height: 600px;
    width: 1200px;
    margin-left: 360px;
    margin-top: 100px;
}

@-webkit-keyframes slide_animation {
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left:2400px;}
    50% {left:2400px;}
    60% {left:1200px;}
    70% {left:1200px;}
    80% {left:0px;}
    90% {left:0px;}
    100% {left:0px;}
}

.slide-images {
    width: 3600px;
    height: 600px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    height: 600px;
    width: 1200px;
    position: relative;
    float: left;
}

@media screen and (max-width: 750px) {
    .logo{
        display: none;
    }

    ul li{
        display: none;
        padding: 5rem;
    }
}

/*-------------------END OF ANIMATION PART-------------------- */







