body {
    background-image: url("/images/mountains.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 22px;
}

nav {
    position: absolute;
    top: 12px;
    right: 100px;
}

.logo img {
    height: 100px;
    width: 100px;
    float: left;
    display: flex;
    justify-content: center;
}

ul li {
    font-family: 'Oxygen', sans-serif;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    color: #534741;
}

ul li:hover {
    color: white;
    border-radius: 10px;
    background: gray;
}

img {
    height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-column {
    flex: 1;
    padding-right: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
button:hover {
    background-color: #0062cc;
}
